# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Metro
.metro-health-check*

# Native generated folders (never commit these)
android/
ios/

# Android
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
Pods/
Podfile.lock
*.xcworkspace
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcshareddata

# macOS
.DS_Store

# local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*